<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76435874448-0ls8itegvseirhr2dd3rl06gi3b596hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76435874448-0ls8itegvseirhr2dd3rl06gi3b596hg</string>
	<key>API_KEY</key>
	<string>AIzaSyCvqTMWmMzDZSi7iCKI0hrkT0vjgzuZ56U</string>
	<key>GCM_SENDER_ID</key>
	<string>76435874448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.primecare.SalamHR</string>
	<key>PROJECT_ID</key>
	<string>sidra-4868e</string>
	<key>STORAGE_BUCKET</key>
	<string>sidra-4868e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76435874448:ios:940fc7cd979b1361e12e15</string>
</dict>
</plist>